.moeda-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 100px;
}

.moeda-texto{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}


.moeda-texto span{
    color: white;
}

.moeda-symb{
    text-transform: uppercase;
}

.moeda-valor{
    font-size: 18px;
    text-align: center;
}

a{
    color: #5FD43C !important;
    text-decoration: none !important;
    transition: all .5s ease;
}

a:hover{
    color: blueviolet !important;
    transition: all .5s ease;
}