.sobre-content{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.sobre-container{
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.sobre-img{
    animation: shadow 10s infinite;
}

.sobre-info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.glitch {
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    color: white;
    text-shadow: 0.05em 0 0 rgba(99,30,214,0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  
    animation: glitch 500ms infinite;
  }
  
  .glitch span {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .glitch span:first-child {
    animation: glitch 650ms infinite;
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-0.025em, -0.0125em);
    /* color: green; */
    opacity: 0.8;
  }
  
  .glitch span:last-child {
    animation: glitch 375ms infinite;
    clip-path: polygon(0 80%, 100% 20%, 100% 100%, 0 100%);
    transform: translate(0.0125em, 0.025em);
    /* color: red; */
    opacity: 0.8;
  }
  
  /* https://web.dev/prefers-reduced-motion/#(bonus)-forcing-reduced-motion-on-all-websites */
  
  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(99,30,214,0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    14% {
      text-shadow: 0.05em 0 0 rgba(99,30,214,0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }
    15% {
      text-shadow: -0.05em -0.025em 0 rgba(99,30,214,0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    49% {
      text-shadow: -0.05em -0.025em 0 rgba(99,30,214,0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    50% {
      text-shadow: 0.025em 0.05em 0 rgba(99,30,214,0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    99% {
      text-shadow: 0.025em 0.05em 0 rgba(99,30,214,0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }
    100% {
      text-shadow: -0.025em 0 0 rgba(99,30,214,0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-duration: 0s !important;
      transition-delay: 0s !important;
    }
  }
  

.card-image{
  position: relative;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.5);
  overflow: hidden;
}

.card-image::before{
  content: '';
  position: absolute;
  width: 150px;
  height: 140%;
  background: linear-gradient(#5FD43C, #631ED6);
  animation: cardimg 4s linear infinite;
  border-radius: 20px;
}

.card-image::after{
  content: '';
  position: absolute;
  background: #303841;
  inset: 4px;
}

@keyframes cardimg {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.sobre-img{
  z-index: 20;
}


@media screen and (max-width: 900px){
  .sobre-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}


@media screen and (max-width: 500px){
  .glitch{
    font-size: 3rem;
  }
}
